#menu1 {
    border: 1px solid black;
    margin-top: 20px;
}
#menu1 ul {
    color: blue;
    font: 16pt Arial;
}
#menu1 a:link, #menu1 a:visited {
    color: blue;
    text-decoration: none;
}
#menu1 a:hover {
    color: red;
    text-decoration: underline;
}
/* ---------------------------------------- */
#menu2 {
    border: 1px solid black;
    margin-top: 20px;
}
#menu2 li {
    list-style-type: none;
    border: 2px solid blue;
    width: 250px;
    font: 16pt Arial;
    margin-top: 15px;
}
#menu2 a:link, #menu2 a:visited {
        color: blue;
        text-decoration: none;
        padding: 5px;
        display: block;
}
#menu2 a:hover {
    font-weight: bold;
}
/* ----------------------------------------------- */
#menu3 {
    border: 1px solid black;
    margin-top: 20px;
}
#menu3 a:link, #menu3 a:visited {
    color: white;
    font: 16pt Arial;
    text-decoration: none;
    padding: 5px;
    display: block;
}
#menu3 a:hover {
    background-color: white;
    color: black;
}
#menu3 li {
    background-color: rgb(90, 88, 88);
    border: 2px solid black;
    width: 250px;
    margin-top: 15px;
    list-style-type: none;
}
/* ------------------------------------------------------------ */
#menu4 {
    border: 1px solid black;
    margin-top: 20px;
}
#menu4 a:link, #menu4 a:visited {
    color: white;
    font: 16pt Arial;
    text-decoration: none;
    padding: 5px;
    display: block;
}
#menu4 a:hover, #menu4 a.active {
    background: white url("fly.png") no-repeat right center;
    color: blue;
    font-weight: bold;
}
#menu4 li {
    background-color: #0081e7;
    border: 2px solid black;
    width: 250px;
    margin-top: 15px;
    list-style-type: none;
}
/* --------------------------------------------------------- */
.clearfix {
    clear: both;
}
#menu5 {
    border: 1px solid black;
    margin-top: 20px;
    font: 16pt Arial;
}
#menu5 a:link, #menu5 a:visited {
    color: blue;
}
#menu5 a:hover, #menu5 a.active {
    color:white;
    background-color: rgb(92, 92, 92);
}
#menu5 a {
    text-decoration: none;
    display: block;
    padding: 10px;
}
/* #menu5 li {
    border: 2px solid black ;
    display: inline-block;
    padding: 8px 5px;
} */
#menu5 li {
    border: 2px solid black ;
    float: left;
    list-style-type: none;
    margin-right: 10px;
    
}
/* -------------------------------------------------------------- */
#or {
    background-color: orange;
    margin: 0px 20px;

}
#menu6 {
    border: 1px solid black; 
    margin-top: 20px; 
    font: 16pt Arial;   
}
#menu6 a:link, #menu6 a:visited {
color: white;
display: block;
}
#menu6 a:hover {
    background-color: rgb(212, 33, 33);
}
#menu6 li {
    display: inline-block;    
}
#menu6 a {
    text-decoration: none;
    padding: 10px;
}
/* ------------------------------------------------------------- */
#calendar {
    border: 1px solid black; 
    margin-top: 20px; 
    font: 16pt Arial; 
    text-align: center;  
}
#week {
    font-weight: bold;
}
#free {
    color: rgb(177, 167, 169);
}
#today {
    color: red;
}