#menu1 {
    border: 1px solid black;
    margin-top: 20px;
}
#menu1 ul {
    color: blue;
    font: 16pt Arial;
}
#menu1 a:link, #menu1 a:visited {
    color: blue;
    text-decoration: none;
}
#menu1 a:hover {
    color: red;
    text-decoration: underline;
}
/* ---------------------------------------- */
#menu2 {
    border: 1px solid black;
    margin-top: 20px;
}
#menu2 li {
    list-style-type: none;
    border: 2px solid blue;
    width: 250px;
    font: 16pt Arial;
    margin-top: 15px;
}
#menu2 a:link, #menu2 a:visited {
        color: blue;
        text-decoration: none;
        padding: 5px;
        display: block;
}
#menu2 a:hover {
    font-weight: bold;
}
/* ----------------------------------------------- */
#menu3 {
    border: 1px solid black;
    margin-top: 20px;
}
#menu3 a:link, #menu3 a:visited {
    color: white;
    font: 16pt Arial;
    text-decoration: none;
    padding: 5px;
    display: block;
}
#menu3 a:hover {
    background-color: white;
    color: black;
}
#menu3 li {
    background-color: rgb(90, 88, 88);
    border: 2px solid black;
    width: 250px;
    margin-top: 15px;
    list-style-type: none;
}
/* ------------------------------------------------------------ */
#menu4 {
    border: 1px solid black;
    margin-top: 20px;
}
#menu4 a:link, #menu4 a:visited {
    color: white;
    font: 16pt Arial;
    text-decoration: none;
    padding: 5px;
    display: block;
}
#menu4 a:hover {
    background-color: white;
    color: blue;
    font-weight: bold;
}
#menu4 li {
    background-color: #0081e7;
    border: 2px solid black;
    width: 250px;
    margin-top: 15px;
    list-style-type: none;